* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.loader-bg {
    position: fixed;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader-img {
    animation: spin 5s infinite;
}

@keyframes spin {
    50% {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: Custom;
    src: url(../Materiaal/fonts/static/ReadexPro-Light.ttf);
}

@font-face {
    font-family: ppRight;
    src: url(../Materiaal/fonts/PPRightGrotesk-WideMedium.ttf);
}

nav {
    padding-top: 20px;
    margin: auto;
    width: 90%;
    height: 100px;
    display: flex;
}

nav p {
    font-family: custom;
}

.nav-left {
    width: 50%;
    align-items: center;
    display: flex;
}

.nav-right {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.nav-right a{
    height: 80%;
}

.nav-right img {
    width: fit-content;
    display: block;
    padding: 15px;
}

.pfp {
    height: 100%;
}

.logout-icon {
    height: 50px;
    border-left: 1px solid black;
}

.container {
    width: 90%;
    padding-top: 50px;
    display: flex;
    margin: auto;
    /* background-color: red; */
}

.containerLeft {
    /* border: 1px solid green; */
    width: 45%;
    height: 75vh;
    overflow-y: scroll;
    /* background-color: yellow; */
}

.innerLeftContainer {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    height: auto;
}

h2 {
    font-family: custom;
    /* width: fit-content; */
    /* margin: 0;
    margin-top: 5%; */
    color: #ffffff;
}

.block {
    width: 100%;
    height: 150px;
    border: white 1px solid;
    margin-bottom: 50px;
    /* padding-left: 50px; */
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
}

.block_left {
    width: 50%;
    display: flex;
    align-items: center;
}

.block_right {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    /* background-color: red; */
}

.settingsIcon{
    width: 40px;
    height: 40px;
    background-image: url(../Materiaal/icoonset/settings.png);
    margin-right: 10px;
    margin-top: 10px;
    /* background-color: pink; */
    background-position: center;
    background-size: contain;
}
.plusIcon {
    width: 40px;
    height: 40px;
    background-image: url(../Materiaal/icoonset/toevoegen.svg);
    margin-right: 10px;
    margin-bottom: 10px;
}


.blockTitle{
    margin-left: 10px;
}
/* block colors  */
.blue {
    background-color: #74bbe8;
}

.green {
    background-color: #38dda1;
}

.purple {
    background-color: #a180b8;
}

.yellow {
    background-color: #f9e616;
}

.grey {
    background-color: #a0a2a4;
}

.red {
    background-color: #ff6060;
}

/* block colors end */
.block img {
    height: 25%;
    /* margin: 10px;
    margin-top: 40px;
    float: right; */
}

.containerMiddle {
    /* background-color: red; */
    width: 35%;
    display: flex;
    justify-content: center;
}

#innerContainerMiddle {
    width: 90%;
    /* background-color: pink; */
}

/* #searchStudentInput {
    width: 300px;
    height: 60px;
} */

#resultContainer {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: green; */
}
.innerResultContainer{
  width: 100%;
  height: auto;
  /* background-color: #38dda1; */
  display: flex;
  justify-content: center;
}

#resultContainer a{
  text-decoration: none;
  color: white;
  width: 50%;
  /* background-color: yellow; */
}

.resultStudent {
    width: 100%;
    height: 60px;
    background-color: #74bbe8;
    margin-top: 10px;
    display: flex;
    border: solid 1px #000000;

}
.resultStudentLeft {
    /* background-color: red; */
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchButton{
    /* color: red; */
    height: 60px;
    width: 60px;
    background-image: url(../Materiaal/icoonset/Zoeken.svg);
    background-position: center;
    background-size: contain;
    border: none;
    background-repeat: no-repeat;
    background-color: white;
}

.resultStudentLeft img {
    height: 55px;
    /* width: 20%; */
}

.resultStudentRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.searchInnerContainerMiddle{
    /* background-color: red; */
    width: 50%;
}

.searchInnerContainerMiddle input{
    /* background-color: red; */
    width: 100%;
    height: 60px;
}

.searchInnerContainer {
    width: 25%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}



#searchForm {
    /* background-color: #FF6060; */
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    /* background-color: yellow; */
}

#searchContainer {
    width: 100%;
    height: 75px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}

input[type="search"] {
    padding: 15px;
    border: 1px solid #000000;
    font-size: x-large;
}

input[type="search"]:focus {
    outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
    /* Remove default */
    -webkit-appearance: none;

    /* Now your own custom styles */
    height: 15px;
    width: 15px;
    background-image: url(/assets/Materiaal/icoonset/Kruisje.svg);
    /* Will place small red box on the right of input (positioning carries over) */
}

.filterIcon {
    height: 100%;
    width: 75px;
    /* background-color: #38DDA1; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterIcon img {
    height: 80%;
}

.searchIcon {
    display: flex;
    height: 100%;
    width: 75px;
    /* background-color: #38DDA1; */
    align-items: center;
    justify-content: center;
}

.searchIcon img {
    height: 50%;
}

/* Right side */

.containerRight {
    /* background-color: blue; */
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mini-block {
    display: flex;
    width: 85%;
    height: 100px;
    margin-bottom: 20px;
    background: #efefef;
    align-items: center;
    justify-content: center;
}

.mini-block p {
    font-family: custom;
    font-size: x-large;
}

.blue-border {
    border-right: 40px solid #74bbe8;
}

.green-border {
    border-right: 40px solid #38dda1;
}

.purple-border {
    border-right: 40px solid #a180b8;
}

.yellow-border {
    border-right: 40px solid #f9e616;
}

.grey-border {
    border-right: 40px solid #a0a2a4;
}

.red-border {
    border-right: 40px solid #ff6060;
}

/* Right side end */

@media only screen and (max-width: 1200px) {

    .containerRight {
        display: none;
    }

    .containerLeft {
        /* display: none; */
        width: 50%;
    }
    .containerMiddle {
        width: 50%;
        /* justify-content: center; */
    }

}

@media only screen and (max-width: 800px) {
    .container {
        flex-direction: column-reverse;
        /* background-color: pink; */

    }
    .containerLeft {
        /* display: none; */
        width: 100%;
    }
    .containerMiddle {
        width: 100%;
        /* justify-content: center; */
    }
   
    #resultContainer{
        /* background-color: green; */
        height: 100%;
        margin-bottom: 20px;
    }
}
