body {
    margin: 0;
    background-color: #74bbe8;
    font-family: Custom;
    color: #fff;
}

nav {
    width: 100%;
    background-color: #fff;
    /* padding: 20px 10px; */
    font-family: custom;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #000;
    text-decoration: none;
    padding: 30px;
}

.save {
    width: 100px;
    height: 51px;
    background-color: #000;
    margin-right: 2.5%;
    display: flex;
}
.save p {
    color: white;
    padding-left: 20px;
}
@font-face {
    font-family: Custom;
    src: url(../Materiaal/fonts/static/ReadexPro-Light.ttf);
}

@font-face {
    font-family: ppRight;
    src: url(../Materiaal/fonts/PPRightGrotesk-WideMedium.ttf);
}

.innerContainer {
    width: 80%;
    margin: auto;
    /* background-color: red; */
}
ul {
    padding: 0;
    list-style: none;
}
input {
    outline: none;
}

input[type="checkbox"] {
    margin-top: 20px;
}
input[type="textarea"] {
    width: 50%;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #000;
}

.download {
    padding: 10px;
    color: #fff;
}

.footer-block {
    width: 80%;
    margin: auto;
}

hr {
    border: 1px solid #fff;
}

.rating {
    height: 30px;
    width: 60%;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
}
.prestatieWrapper {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.red,
.orange,
.green {
    background-color: red;
    height: 25px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}
.orange {
    background-color: orange;
}
.green {
    background-color: green;
}

.row {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
.row input {
    width: 60%;
}

#footerIMG {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
}

#footerIMG img {
    height: 100%;
}

/* .createFormButton{
    padding: 20px;
    color: red;
} */

.dowloadIcon {
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dowloadIcon img {
    height: 90%;
}

.createFormButton {
    width: 100%;
    height: 100%;
    border: none;
    background-color: black;
    color: white;
}

input[type="radio"] {
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
}
label {
    font-size: 15px;
}

.leftInnerContainer3 {
    height: 100%;
    width: 50%;
    background-color: green;
}

.rightInnerContainer3 {
    height: 100%;
    width: 50%;
    background-color: yellow;
}

input[type="radio"] {
    display: none;
    /* appearance: none; */
    /* opacity: 0; */
}
input[type="radio"]:checked + .radioChecked {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    /* position: relative */
}
/* .test::after{



} */
